<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bruno-deflate0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,552},{184,88}}</string>
                <key>offset</key>
                <string>{53,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,150},{184,88}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-highattack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,310},{198,218}}</string>
                <key>offset</key>
                <string>{-50,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{198,218}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-hit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,382},{168,220}}</string>
                <key>offset</key>
                <string>{39,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,18},{168,220}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{142,232}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,6},{142,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,146},{162,222}}</string>
                <key>offset</key>
                <string>{42,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,16},{162,222}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,392},{174,218}}</string>
                <key>offset</key>
                <string>{-38,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{174,218}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-jab0.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,192},{198,220}}</string>
                <key>offset</key>
                <string>{-50,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{198,220}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-lowattack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,220}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{272,220}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-lowhit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{196,220}}</string>
                <key>offset</key>
                <string>{-49,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{196,220}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-special0.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{188,236}}</string>
                <key>offset</key>
                <string>{55,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,2},{188,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-special1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{178,238}}</string>
                <key>offset</key>
                <string>{50,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{178,238}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-special2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,182},{198,232}}</string>
                <key>offset</key>
                <string>{-50,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{198,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-special3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{178,238}}</string>
                <key>offset</key>
                <string>{50,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{178,238}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>bruno-uppercut0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{198,218}}</string>
                <key>offset</key>
                <string>{-50,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{198,218}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bruno-art.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c78b7b5dc9065b04a341d444f3ef699$</string>
            <key>textureFileName</key>
            <string>bruno-art.pvr.ccz</string>
        </dict>
    </dict>
</plist>
