<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clown-deflate0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{188,84}}</string>
                <key>offset</key>
                <string>{54,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,154},{188,84}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-highattack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{260,236}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-hit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,720},{150,236}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,2},{150,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,402},{170,236}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,2},{170,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,640},{170,232}}</string>
                <key>offset</key>
                <string>{-36,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{170,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,240},{152,236}}</string>
                <key>offset</key>
                <string>{37,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,2},{152,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-leftjab0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{218,238}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,238}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-lowattack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,202},{198,232}}</string>
                <key>offset</key>
                <string>{-50,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{198,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-lowhit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{156,224}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{156,224}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-lowjab0.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{198,232}}</string>
                <key>offset</key>
                <string>{-50,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{198,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-rightjab0.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{260,236}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-special0.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,568},{150,236}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,2},{150,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-special1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,240},{174,236}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,2},{174,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-special2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{224,236}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{224,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-special3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,236}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-special4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,416},{150,236}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,2},{150,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>clown-uppercut0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,402},{198,236}}</string>
                <key>offset</key>
                <string>{-50,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{198,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clown-art.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:691f9380b8eb27a101d35ddf4cd63201$</string>
            <key>textureFileName</key>
            <string>clown-art.pvr.ccz</string>
        </dict>
    </dict>
</plist>
