<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>detective-deflate0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{186,88}}</string>
                <key>offset</key>
                <string>{53,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,150},{186,88}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-highattack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{198,234}}</string>
                <key>offset</key>
                <string>{-50,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{198,234}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-hit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,176},{166,234}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,4},{166,234}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,726},{170,232}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,6},{170,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,338},{152,234}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{152,234}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,330},{164,234}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,4},{164,234}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-lowattack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,234}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{248,234}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-lowhit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{172,236}}</string>
                <key>offset</key>
                <string>{-37,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{172,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-lowjab0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,138},{198,234}}</string>
                <key>offset</key>
                <string>{-50,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{198,234}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-rightjab0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,492},{232,232}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{232,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-special0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{232,232}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{232,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-special1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{212,232}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{212,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-special2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,726},{154,232}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,6},{154,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-special3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{126,238}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{126,238}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-special4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{134,238}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,0},{134,238}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>detective-uppercut0.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,130},{198,234}}</string>
                <key>offset</key>
                <string>{-50,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{198,234}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>detective-art.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:846372538dbbdc84b50f1d1fa4506b67$</string>
            <key>textureFileName</key>
            <string>detective-art.pvr.ccz</string>
        </dict>
    </dict>
</plist>
