<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fighter-deflate0.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,766},{182,84}}</string>
                <key>offset</key>
                <string>{51,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,156},{182,84}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>fighter-haymaker0.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{186,216}}</string>
                <key>offset</key>
                <string>{54,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,22},{186,216}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-haymaker1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,416},{198,230}}</string>
                <key>offset</key>
                <string>{-50,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{198,230}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-highattack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,766},{198,214}}</string>
                <key>offset</key>
                <string>{-50,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{198,214}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-hit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{182,218}}</string>
                <key>offset</key>
                <string>{51,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,22},{182,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>fighter-idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,388},{198,230}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,10},{198,230}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>fighter-idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{182,218}}</string>
                <key>offset</key>
                <string>{51,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,22},{182,218}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>fighter-idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,418},{144,228}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,12},{144,228}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>fighter-leftjab0.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,564},{200,224}}</string>
                <key>offset</key>
                <string>{-49,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{200,224}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-lowattack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,232}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{288,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-lowhit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,218},{168,234}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{168,234}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-lowjab0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{220,224}}</string>
                <key>offset</key>
                <string>{-36,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{220,224}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-rightjab0.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,190},{214,224}}</string>
                <key>offset</key>
                <string>{-42,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{214,224}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-special0.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{214,236}}</string>
                <key>offset</key>
                <string>{40,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,2},{214,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-special1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{274,214}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{274,214}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-special2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{188,228}}</string>
                <key>offset</key>
                <string>{34,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,10},{188,228}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-special3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{188,228}}</string>
                <key>offset</key>
                <string>{34,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,10},{188,228}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>fighter-uppercut0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,218},{198,236}}</string>
                <key>offset</key>
                <string>{-50,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{198,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fighter-art.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:705ba5a3c9c8fd8a43ef8d9a2fe419df$</string>
            <key>textureFileName</key>
            <string>fighter-art.pvr.ccz</string>
        </dict>
    </dict>
</plist>
