<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armyman.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>bruno.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,879},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>clown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>count-in0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,624},{54,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{54,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>count-in1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,388},{60,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{60,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>count-in2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{62,110}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,7},{62,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>count-in3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{116,110}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{116,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>count-in4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,196},{106,98}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{106,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>detective.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,794},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>fighter.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,709},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>health-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,792},{190,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{190,18}}</string>
                <key>sourceSize</key>
                <string>{192,32}</string>
            </dict>
            <key>health-filled.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,196},{190,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{190,18}}</string>
                <key>sourceSize</key>
                <string>{192,32}</string>
            </dict>
            <key>health-outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{192,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,22}}</string>
                <key>sourceSize</key>
                <string>{192,32}</string>
            </dict>
            <key>hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,726},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ninja.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,624},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,388},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>round-ind.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,178},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>special-filled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{182,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{182,12}}</string>
                <key>sourceSize</key>
                <string>{192,16}</string>
            </dict>
            <key>special-outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,196},{186,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,12}}</string>
                <key>sourceSize</key>
                <string>{192,16}</string>
            </dict>
            <key>square-buttons.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>textbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,110}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,118},{458,110}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>tubula.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,296},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-art.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bc52f2a392b8ebd641dd50fe9bafaf4$</string>
            <key>textureFileName</key>
            <string>game-art.pvr.ccz</string>
        </dict>
    </dict>
</plist>
