<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ninja-deflate0.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,418},{184,82}}</string>
                <key>offset</key>
                <string>{53,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,156},{184,82}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-highattack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,228},{198,226}}</string>
                <key>offset</key>
                <string>{-50,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{198,226}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-hit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{176,224}}</string>
                <key>offset</key>
                <string>{31,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,14},{176,224}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,166},{170,232}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,6},{170,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,338},{152,226}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,12},{152,226}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,418},{176,224}}</string>
                <key>offset</key>
                <string>{31,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,14},{176,224}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-lowattack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{198,226}}</string>
                <key>offset</key>
                <string>{-50,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{198,226}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-lowhit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,604},{160,222}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{160,222}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-lowjab0.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,224}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{254,224}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-rightjab0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,224}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{254,224}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-special0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{192,222}}</string>
                <key>offset</key>
                <string>{-47,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{192,222}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-special1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{214,232}}</string>
                <key>offset</key>
                <string>{-38,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{214,232}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-special2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{162,236}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,2},{162,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-special3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{162,236}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,2},{162,236}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
            <key>ninja-uppercut0.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,218},{198,226}}</string>
                <key>offset</key>
                <string>{-50,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{198,226}}</string>
                <key>sourceSize</key>
                <string>{298,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ninja-art.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27efeb280c5e7508f85926ff50ba4761$</string>
            <key>textureFileName</key>
            <string>ninja-art.pvr.ccz</string>
        </dict>
    </dict>
</plist>
